<!DOCTYPE html>
<html>
    <head>
        <script src="https://kit.fontawesome.com/207fe504d1.js" crossorigin="anonymous"></script>
        <link href="../assets/css/fonts.css" rel="stylesheet"/>
        <link href="../assets/css/site.css" rel="stylesheet"/>
    </head>
    <div class="container">
        <div class="header">
            <h1>Socials</h1>
        </div>
        <div class="content">
            <div class="social-links">
                <h2>Where to find me!</h2>
                    <ul>
                        <li>
                            <i class="fab fa-youtube"></i>
                            <b>YouTube &mdash; </b>
                            <a href="https://www.youtube.com/c/MoonlightAudio">c/MoonlightAudio</a>
                        </li>
                        <li>
                            <i class="fab fa-discord"></i>
                            <b>Discord &mdash; </b>
                            <a href="https://discord.gg/RHmjKHc">The Moonlight Sonata</a>
                        </li>
                        <li>
                            <i class="fab fa-twitter"></i>
                            <b>Twitter &mdash; </b>
                            <a href="https://twitter.com/AudioMoonlight">@AudioMoonlight</a>
                        </li>
                        <li>
                            <i class="fab fa-reddit"></i>
                            <b>Reddit &mdash; </b>
                            <a href="https://www.reddit.com/r/TheMoonlightSonata">r/TheMoonlightSonata</a>
                        </li>
                        <li>
                            <i class="fas fa-cat"></i>
                            <b>CuriousCat &mdash; </b>
                            <a href="https://curiouscat.qa/AudioMoonlight">@AudioMoonlight</a>
                        </li>
                        <li>
                            <i class="fab fa-patreon"></i></a>
                            <b>Patreon &mdash; </b>
                            <a href="https://patreon.com/MoonlightAudio">MoonlightAudio</a>
                        </li>
                        <li>
                            <i class="fas fa-shopping-cart"></i>
                            <b>Merch &mdash; </b>
                            <a href="https://moonlight-audio.creator-spring.com/">Moonlight-Audio</a>
                        </li>
                    </ul>
                <h2>Have an idea for an audio?</h2>
                    <ul class="end">
                        <li>Let me know in <a href=https://bit.ly/MoonlitAudioSuggestion>this form</a>!</li>
                    </ul>
            </div>
            <div class="social-image">
                <img src="../assets/images/social_reduced.png"></img>
            </div>
        </div>
    </div>
</html>
