<!DOCTYPE html>
<html>
    <head>
        <link href="../assets/css/fonts.css" rel="stylesheet"/>
        <link href="../assets/css/site.css" rel="stylesheet"/>
    </head>
    <div class="container">
        <div class="header">
            <h1>FAQ</h1>
        </div>
        <div class="content">
            <div class="qa">
                <h3>What is your posting schedule?</h3>
                <p>I try to post <u><b>once</b></u> a week, but that may fluctuate
                    due to my job. The current schedule is the following:
                    <u>Fridays at noon, EST</u></p>
            </div>
            <div class="qa">
                <h3>Will we ever get a face reveal?</h3>
                <p>I don't want to share a lot about my physical appearance
                    because I don't want it to affect the way people listen to
                    my audios.</p>
            </div>
            <div class="qa">
                <h3>What kind of mic do you use?</h3>
                <p>I use an AKG P220 mic with a wrap-around pop filter and
                    shock mount on a table mounted boom. </p>
            </div>
            <div class="qa">
                <h3>What do you use for editing?</h3>
                <p>I use Audacity with RX 7 plugins as well as Reaper, Nectar 3,
                    Nutron 3, Ozone 9, and occasionally some other plugins. </p>
            </div>
            <div class="qa">
                <h3>How old are you?</h3>
                <p>Old enough to know better.</p>
            </div>
            <div class="qa">
                <h3>What time zone do you use?</h3>
                <p>EST.</p>
            </div>
            <div class="qa">
                <h3>Have you ever done voice acting before?</h3>
                <p>I did some stage acting in high school, but other than that no.</p>
            </div>
            <div class="qa">
                <h3>What inspired you to make audios?</h3>
                <p>I went through a rough patch and got a lot of comfort from
                    audios I found on PTA. I thought I could provide some of
                    that to other people and started recording.</p>
            </div>
            <div class="qa">
                <h3>What is your zodiac sign?</h3>
                <p>Leo.</p>
            </div>
            <div class="qa">
                <h3>What do you like to do in your free time?</h3>
                <p>I like playing video games, listening to music, reading and
                    making audios.</p>
            </div>
            <div class="qa">
                <h3>Do you accept script submissions?</h3>
                <p>I do. You can send them to me through Reddit, Twitter, or my
                    email. It is not 100% guaranteed that I'll record them.</p>
            </div>
            <div class="qa bottom">
                <h3>Do you have a master post?</h3>
                <p>I do. You can find it
                    <a href="https://www.reddit.com/r/TheMoonlightSonata/comments/enfeuf/audioscript_index/">on Reddit</a>,
                    <a href="/audios">here</a>, or you can see my YouTube
                    <a href="https://www.youtube.com/playlist?list=PLoOgI-iRxRFGLV72uFD_Dw_YGzOtnbMrg">playlist.</a>
                </p>
            </div>
        </div>
    </div>
</html>
