<!DOCTYPE html>
<html>
    <head>
        <script src="https://kit.fontawesome.com/207fe504d1.js" crossorigin="anonymous"></script>
        <link href="../assets/css/fonts.css" rel="stylesheet"/>
        <link href="../assets/css/site.css" rel="stylesheet"/>
    </head>
    <div class="home">
        <div class="avatar">
            <img src="../assets/images/avatar_cropped.png"></img>
        </div>
        <div class="logo">
            <p>Moonlight Audio</p>
        </div>
        <div class="icons">
            <ul id="external-list">
                <a href="https://www.youtube.com/c/MoonlightAudio"><i class="fab fa-youtube"></i></a>
                <a href="https://discord.gg/RHmjKHc"><i class="fab fa-discord"></i></a>
                <a href="https://twitter.com/AudioMoonlight"><i class="fab fa-twitter"></i></a>
                <a href="https://www.reddit.com/r/TheMoonlightSonata"><i class="fab fa-reddit"></i></a>
                <a href="https://curiouscat.qa/AudioMoonlight"><i class="fas fa-cat"></i></a>
            </ul>
        </div>
    </div>
</html>
