<!DOCTYPE html>
<html>
    <head>
        <link href="../assets/css/navigation.css" rel="stylesheet"/>
        <link href="../assets/css/fonts.css" rel="stylesheet"/>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
    </head>
    <div class="navbar">
        <div id="logo">
            <a href="/">Moonlight Audio</a>
        </div>
        <ul class="links" id="site-links">
            <a href="/audios">Audios</a>
            <a href="/socials">Socials</a>
            <a href="/faq">FAQ</a>
        </ul>
        <a href="javascript:void(0);" class="icon" onclick="dropdown()">
            <i class="fa fa-bars"></i>
        </a>
    </div>
<script src="../assets/js/navbar.js"></script>
</html>
