<!DOCTYPE html>
<html>
    <title>Moonlight Audio - 404</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link href="../assets/css/site.css" rel="stylesheet"/>
    <link rel="shortcut icon" type="image/png" href="../assets/images/icon.png"/>
    <body>
        <div id="content" style="overflow:hidden;">
            <article>
                {% include navigation.html %}
                <div id="page-not-found">
                    <img src="../assets/images/404.png"></img>
                    <h1>404 Error</h1>
                    <h3>That page may not exist but <a href="/audios">this one</a> does!</h3>
                </div>
            </article>
        </div>
    </body>
</html>
