<!DOCTYPE html>
<html>
    <title>Moonlight Audio</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="description" content="I'm Moonlight Audio, an audio roleplay creator. Whether you're looking for comfort, laughter, drama, reassurance, or just a fun and entertaining boyfriend/husband scene, you can curl up with me, close your eyes, and let my voice carry you away."/>
    <link href="../assets/css/site.css" rel="stylesheet"/>
    <link rel="shortcut icon" type="image/png" href="../assets/images/icon.png"/>
    <body>
        <div id="content" style="overflow:hidden;">
            <article>
                {% include navigation.html %}
                {% include landing.html %}
            </article>
        </div>
    </body>
</html>
